body {
  margin-top: 15%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: white;
  font-size: 1.2rem;
}

h1 {
  color: greenyellow;
}

a {
  text-decoration: none;
  color: aqua;
}

a:hover {
  font-size: 1.5rem;
  transition: all 0.3s;
  color: fuchsia;
}

a:focus {
  font-size: 1.5rem;
  transition: all 0.3s;
  color: fuchsia;
}
